* {
    /* color:white; */
    /* color: black; */
    -ms-overflow-style: none;
  
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

.app_main {
    display: flex;
}

.hlinks {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .hlinks {
    font-size: 15px;
  }
   
}