.item {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    overflow: hidden;
  
}

.item__details {
    display:flex; 
    margin-top: 25px;
}

.item__details>img {
    object-fit: contain;
    height: 60px;
    margin-right: 10px;
}   