* {
    /* color:white; */
    -ms-overflow-style: none;
  
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

.app_main {
    display: flex;
}

h3 {
  text-decoration: none;
  color: white;
}

.llinks {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1000px){

  .plinks {
    font-size: 5px;
    text-decoration: none;
    color: red;
  }

  
}