.vid {
    display: flex;
    flex-wrap: wrap;
    
}

.vid>div>img{
    border-radius: 5px;
    margin-right: 10px;
    /* margin-top: 20px; */
}

.vid>div>h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.b {
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    
}

/* .b_btn{
    height: 50px;

}

.b_div{
    display: flex;
} */

 

  